/* RESPONSIVE////////////////////////////////////////////////////// */
#menu_mobile {
  width: 100px;
  display: none;
}
.mobile > a > img {
  padding-top: 10px;
}
.mobile {
  display: none;
  z-index: 990;
  width: 60%;
  position: fixed;
  top: 75px;
  right: 0;
  background-color: #1e1e1e;
  flex-direction: column;
  text-align: center;
}
.mobile > li {
  list-style-type: none;
  padding: 14px;
  width: 80%;
  margin: 25px auto;
  border-radius: 10px;
}
.mobile > li > a {
  text-decoration: none;
  color: #b2bec3;
  font-size: larger;
}
.mobile > li:hover {
  background-color: #322f2f;
}
.mobile > li:hover > a {
  color: rgb(185, 74, 74);
}
.submn {
  display: none;
}
.submn > a {
  color: rgb(138, 137, 137) !important;
  border-bottom: 1px solid #eae8e8;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.584); /* Màu nền xám với độ mờ 50% */
  display: none; /* Ẩn lớp phủ mặc định */
  z-index: 990; /* Đặt thấp hơn lớp .mobile nhưng cao hơn các nội dung khác */
}
#tail_mobile > a {
  padding: 10px;
}
/* FOOTER ON MOBILE /////////////////////////////////////////////// */
#footer_mobile > div {
  flex-direction: column;
  font-size: 14px;
}
#footer_mobile > div.logo {
  flex-direction: row;
  width: 100%;
}
#footer_mobile {
  display: none;
  background-color: #1e1e1e;
}
#footer_mobile > div > img {
  margin: 20px;
}
#footer_mobile > div.logo {
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
}
#footer_mobile > div {
  text-align: center; /* Căn giữa văn bản theo chiều ngang */
  margin: auto;
  padding: 10px;
  color: #555555;
}
#footer_mobile > div > a {
  text-decoration: none;
  justify-content: center;
  color: #b2bec3;
  padding: 7px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

/* mobile////////////////////////////////////////////////////////// */

/* XỬ LÝ RESPONSIVE CHO HEADER MENU/////////////////////////////////*/
@media only screen and (min-width: 1383px) and (max-width: 1396px) {
  header > div > ul > li:hover > a {
    color: #c0392b;
    background-color: #272727;
    padding: 0px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1383px) {
  .main_logo {
    top: calc(35% + 50px);
  }
  #menu1,
  #menu2,
  #menu3,
  #menu4,
  #menu5 {
    display: none;
  }
  #menu_mobile {
    display: block;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 810px) {
  /*FOOTER MOBILE////////////////////////////////////////////*/
  footer {
    display: none;
  }
  #footer_mobile {
    display: block;
  }
  .tail {
    display: none;
  }
  .mobile {
    width: 100%;
  }
  /*/////////////////////////////////////////////////////////*/
  #main_button {
    top: calc(55% + 30px);
  }
  *:not(h1) {
    font-size: medium;
  }
  h1 {
    font-size: 24px;
  }
  .main_logo {
    top: calc(35% + 50px);
  }
  main > div > video {
    height: 85vh;
  }
  .container,
  .container3 {
    flex-direction: column;
    justify-content: center;
  }
  .container {
    padding: 100px 0px;
  }
  .container > div {
    padding: 10px 0px;
  }
  .container > .right > div.video {
    padding-left: 20px;
  }
  .container2 {
    flex-direction: column-reverse;
    padding-top: 130px;
  }

  .container2 > .right > .text2 {
    text-align: center;
  }
  .container2 > .left > img {
    width: 80%;
    margin: 40px 0px 35px 20px;
  }

  .container > div,
  .container2 > div,
  .container3 > div {
    width: 100%;
  }
  .container3 {
    padding: 60px 0px;
  }
  .container3 > div.left {
    width: 100%;
    padding: 0px;
  }
  .container3 > div.right {
    width: 100%;
    margin: 50px 20px;
  }
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 30px;
  }
  .slogan {
    font-size: 22px;
  }
  .main_logo > img {
    width: 300px;
  }
  .container {
    padding-top: 15px;
  }
  .container > div.left {
    padding: 40px 0px 0px 0px;
  }
  .container > div.left > div.text {
    padding: 0px;
  }
  .container > div.right {
    padding-top: 20px;
  }
  .container2 > .right > .text2 {
    margin-top: 150px ;
  }
  .container2 > .left > img{
    margin-bottom: 200px;
  }
  .text3 {
    margin-left: 20px !important;
  }
}

@media only screen and (max-width: 430px) {
  #sound,
  #riot {
    margin-right: 0px;
  }
  h1 {
    font-size: 20px;
  }
  #valo {
    margin-right: -10px;
  }
}
